beautifulsoup4==4.13.4
clip==1.0
diffusers==0.35.0.dev0
exceptiongroup==1.3.0
gradio==5.41.1
ipykernel==6.30.1
langchain-community==0.3.27
langchain-openai==0.3.28
langgraph==0.6.3
lxml==6.0.0
open_clip_torch==3.1.0
pickleshare==0.7.5
pip==25.1
splice==1.0
transformers==4.55.0
wheel==0.45.1
